$dropDownWidth: 170px;

h1 {
  border-bottom: 1px solid lightblue;
  padding-left: 20px;
  margin-bottom: 0;

  span {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    white-space: nowrap;
  }
}

.tagline {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  padding-left: 20px;
  color: cadetblue;
  font-size: 60%;
  margin-bottom: 5px;

  a {
    color: cadetblue;
  }
}

.inputs {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;

  input {
    margin: 0;
    padding: 0;
    text-align: right;
    border: 1px solid gray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: calc(100% - #{$dropDownWidth} - 5px);
    height: 38px;
    font-size: 150%;
    font-weight: bold;
  }

  select {
    margin: 0;
    padding: 0;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: $dropDownWidth;
    height: 40px;
    font-size: 150%;
    font-weight: bold;
  }
}

ul {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  border: 1px solid lightblue;
  max-width: 500px;

  li {
    border-bottom: 1px solid lightblue;
    padding: 2px 8px;
    white-space: nowrap;

    &.odd {
      background-color: aliceblue;
    }

    .metric {
      display: inline-block;
      width: 100px;
    }

    .value {
      display: inline-block;
      width: 100px;
      margin-right: 25px;
      text-align: right;
    }

    .better {
      display: inline-block;
      font-weight: bold;
      font-size: 75%;
      border-radius: 4px;
      padding: 1px 4px;
      text-align: center;
      width: 100px;

      &.b {
        background-color: red;
        color: white;
      }

      &.s {
        background-color: #00BB00;
        color: white;
      }
    }
  }
}
