<h1><span>EV Economy Conversions</span></h1>
<p class="tagline">An app by <a href="http://david.dupplaw.uk/">Dave Dupplaw</a></p>

<div class="inputs">
  <input type="number" (input)="inputValue=$event.target.value; changed()" value="1"/><select (change)="changeUnit($event.target.value)">
    <option *ngFor="let norm of normalisations; let i = index" value="{{i}}">{{norm.unit}}</option>
  </select>
</div>

<div class="outputs">
  <ul>
    <li *ngFor="let output of outputs; let i = index; let isOdd = odd;" [class.odd]="isOdd">
      <span class="value">{{ output.value.toFixed(2) }}</span>
      <span class="metric">{{ output.name }}</span>
      <span class="better {{output.whichIsBetter}}">{{ output.whichIsBetter === 'b' ? 'bigger': 'smaller' }} is better</span>
    </li>
  </ul>
</div>
